<!doctype html>
<html ng-app="" ng-init="femalename='Female name';dirtytask='Dirty task';obnoxiouscelebrity='Obnoxious celebrity';jobtitle='Job title'; celebrity='Celebrity';hugenumber='Huge number'; tedioustask='Tedious task'; uselessskill='Useless skill';Adjective='Adjective'">
<head>
<script href="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="madlib.css">
</head>
<body>
<span class="img1">
<img src="mad-lib-happy-face.png" class="image1"/>
</span>
<span class="img2">
<img src="ng-mad-libs-logo.png" />
<h1>Automate This!</h1>
</span>
<p>
<hr class="line1">
<h2>Provide the following words:</h2>
<div class="column1">
<input type="text" placeholder="Female name" ng-model="femalename">
<input type="text" placeholder="Dirty task" ng-model="dirtytask">
<input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxiouscelebrity">
</div>
<br>
<div class="column1">
<input type="text" placeholder="Job title" ng-model="jobtitle">
<input type="text" placeholder="Celebrity" ng-model="celebrity">
<input type="text" placeholder="Huge number" ng-model="hugenumber">
</div>
<br>
<div class="column1">
<input type="text" placeholder="Tedious task" ng-model="tedioustask">
<input type="text" placeholder="Useless skill" ng-model="uselessskill">
<input type="text" placeholder="Adjective" ng-model="Adjective">
</div>
<hr>
</p>
<p class="paragraph">{{femalename}} was a {{jobtitle}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tedioustask}} and {{dirtytask}}. So, {{femalename}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead. 
</p>
<p class="paragraph">
What a great decision! With her new skills, {{femalename}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}} that not only loved {{dirtytask}} but did it {{hugenumber}} faster. 
</p>
</body>
</html>